.forgot-password {
  width: 500px;
  height: 68vh;
  margin: auto;
  display: block;
  border: .25px solid lightgray;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    5px 5px 10px rgba(94, 104, 121, 0.3);
  background-color: white;
  color: gray;
}
.forgot-password .heading {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5px;
}

.forgot-password .input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
}
.forgot-password .input  label {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 700;
}
.forgot-password .input  input {
  padding: 5px;
  border-radius: 5px;
  border: .25px solid lightgray;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
}
#reset {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background-color: #0275d8;
  width: 90%;
  padding: 8px;
  border: none;
  outline: none;
  color: antiquewhite;
  border-radius: 5px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  margin-top: 10px;
  margin-left: 25px;
  font-weight: 500;
  color: white;
}
#reset:hover{
  background-color: goldenrod;
}
.forgot-password .error {
  font-size: 10px;
  display: block;
  font-weight: 500;
  color: red;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .forgot-password{
    margin-top: 320px;
  }
}
